# List

#Tuple
updatation and delection are not allowed

In [2]:
t= ()

In [3]:
t1 = tuple()

In [4]:
print(type(t))

<class 'tuple'>

In [5]:
t2 = (1,2,3,4,5)
t3 = (1, "ram", 72.68)

In [6]:
t2[3]

4

In [7]:
t2[1:5:2]

(2, 4)

In [14]:
t2[2]=90 #tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [15]:
del t2[3] #tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [16]:
t4=(1,2,1,4,1,5,6,7,2)

In [17]:
t4.count(1)

3

In [18]:
t4.index(2)

1

In [19]:
# we can update or change the value but in list
tup=('Data', 25, [50,100], ['Davide','john'], (99,22,33))

In [26]:
tup[4]=50

TypeError: 'tuple' object does not support item assignment

In [27]:
tup[3][1]=50

In [28]:
#Remove and change item

del mytuple[0]

NameError: name 'mytuple' is not defined

In [29]:
a, b,c,d = (1,2,3,4)

In [30]:
a

1

In [31]:
b

2

In [32]:
3

3

In [33]:
4

4

In [34]:
a = (1,2,3,4)

In [77]:
a

(1, 2, 3, 4)

# Dictionary

d = {}
d1 = dict()
{k:v , k2:v}
d1.key()
d1.values()
d1.items()

In [37]:
d1 = {1:'pune',2:'mumbai',3:'Nagpur',4:'Delhi'}

In [38]:
d1.keys()

dict_keys([1, 2, 3, 4])

In [39]:
d1.values()

dict_values(['pune', 'mumbai', 'Nagpur', 'Delhi'])

In [40]:
d1.items()

dict_items([(1, 'pune'), (2, 'mumbai'), (3, 'Nagpur'), (4, 'Delhi')])

In [41]:
d1[3]

'Nagpur'

In [42]:
d1[4] = 'nashik' # its update in place of delhi

In [43]:
d1[4]

'nashik'

In [44]:
d1[5] = 'Goa' # it will add in our tuple as (5, 'Goa')

In [45]:
d1[5]

'Goa'

In [46]:
d1.copy()

{1: 'pune', 2: 'mumbai', 3: 'Nagpur', 4: 'nashik', 5: 'Goa'}

In [47]:
d1.update({3:'Wardha'})

In [48]:
d1

{1: 'pune', 2: 'mumbai', 3: 'Wardha', 4: 'nashik', 5: 'Goa'}

In [49]:
d1.fromkeys({1:'pune'})

{1: None}

In [50]:
d1.pop(3)

'Wardha'

In [51]:
d1

{1: 'pune', 2: 'mumbai', 4: 'nashik', 5: 'Goa'}

In [52]:
d1.popitem()

(5, 'Goa')

In [53]:
d1

{1: 'pune', 2: 'mumbai', 4: 'nashik'}

In [54]:
v=[0,1,2,3,[8,{5:[67,89,90,{'area':'kudlu','city':'bangalore'}]}]]

## get bangalore

In [55]:
v[4][1][5][3]['city']

'bangalore'

# Sets

{,}

1)unique
2)unindexed
3)unordered

1) intersection
2) union
3) difference

1)s1 = {} ....wrong
2)s1 = set()

In [57]:
s1 = {1,2,3,4,5}
s2= {4,5,6,7,8}

In [58]:
s1

{1, 2, 3, 4, 5}

In [59]:
s1[4] # indexing inst appply

TypeError: 'set' object is not subscriptable

In [61]:
s1.add(10)

In [62]:
s1.update(50)

TypeError: 'int' object is not iterable

In [63]:
s1.update([50])

In [154]:
s1.remove(50)

In [64]:
s1.discard(3)

In [65]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [66]:
s1.intersection(s2) # common element

{4, 5}

In [67]:
s1.union(s2) # All element

{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
s1.difference(s2)

{1, 2, 3}

In [69]:
s2.difference(s1)

{6, 7, 8}

In [70]:
a = s1.difference(s2) # output : 1,2,3,6,7,8
b = s2.difference(s1)

a.union(b)

{1, 2, 3, 6, 7, 8}